<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-WebApplication1-20181205135802;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-WebApplication1-20181205135802.mdf"/>
  </connectionStrings>
  <system.web>
    <compilation targetFramework="4.5" debug="true"/>
    <httpRuntime targetFramework="4.5" executionTimeout="240" maxRequestLength="20480" maxUrlLength="1000000" maxQueryStringLength="1000000"/>

    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization"/>
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt"/>
      </controls>
    </pages>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880"/>
    </authentication>
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/"/>
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/"/>
      </providers>
    </roleManager>
    <sessionState mode="InProc" customProvider="DefaultSessionProvider"  timeout="60">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection"/>
      </providers>
    </sessionState>
  </system.web>
  <appSettings>
    <!--<add key="callingurl" value="https://paytvselfcare.tv/PublicAPI/PublicAPI.svc/" />
    <add key="callingurlsms" value="https://paytvselfcare.tv/SMSAPI/SMSAPI.svc/" />-->
    <!--<add key="callingurl" value="http://localhost:49303/PublicAPI.svc/"></add>-->
    <add key="callingurl" value="http://localhost:49303/PublicAPI.svc/"/>
    <add key="callingurlsms" value="http://localhost:38965/SMSAPI.svc/"/>
    <!--<add key="callingurl" value="http://120.89.72.217:89/PublicAPI.svc/"/>-->
    <add key="ReleaseVersion" value="1.4"/>
    <add key="OPID" value="digiana" />
    <add key="ProviderName" value="D4u"/>
    <add key="username" value="relyMSOApp" />
    <add key="password" value="rely@3134" />
    <add key="urlCallingMode" value="1" />
    <add value="d4u" key="http://dasdigitaltv.com/" />
    <add value="PAYTVDemo" key="http://localhost:27402"/> <!-- Just for Example-->
    <add value="Rel_6_1_R" key="http://192.168.2.100:74/"/>
    <!--<add key="MerchantKey" value="Y9WIY2SU" />Live MerchantKey/SALT
    <add key="SALT" value="Hviem7VFBc" />-->
    <add key="MerchantKey" value="BC50nb" />
    <add key="SALT" value="Bwxo1cPe" />
    <add key="PGID" value="6" />
    <add key="PayuUrl" value=" https://test.payu.in" />
    <!-- <add key="PayuUrl" value="https://test.payu.in" />Live URL-->
    <!--<add key="RelyWcfPath" value="http://www.rsoftsms.com/WebDAS/DAS.svc" />-->
    <add key="RelyWcfPath" value="http://www.rsoftsms.com/WebDAS/DAS.svc" />
    <add key="localpayusuccessurl" value="http://localhost:27402/Success" />
    <add key="localpayufailurl" value="http://localhost:27402/Failed" />
    <add key="publishedsuccessurl" value="http://192.168.2.100:74/Success" />
    <add key="publishedfailurl" value="http://192.168.2.100:74/Failed" />
    <add key="payusuccessurl" value="http://paytvselfcare.com/Success" />
    <add key="payufailurl" value="http://paytvselfcare.com/Failed" />
    <add key="Portalurl" value="http://dasdigitaltv.paytvselfcare.tv/" />
    <!-- PayTVSelfCare Portal Hosting URL -->
    <add key="WebSiteurl" value="http://dasdigitaltv.com/" />
    <!-- PayTVSelfCare WebSite Hosting URL -->
    <!-- PayTVSelfCare WebSite Hosting URL -->
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0"/>
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <system.web.extensions>
    <scripting>
      <scriptResourceHandler enableCompression="true" enableCaching="true"/>
      <webServices>
        <jsonSerialization maxJsonLength="1000000000"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.serviceModel>
    <!--<client>
      <endpoint address="http://192.168.2.100/PaymentIntegration/IntegrationService.asmx"
        binding="basicHttpBinding" bindingConfiguration="integrationserviceSoap3"
        contract="PayuService.integrationserviceSoap" name="integrationserviceSoap" />
    </client>-->
    <client>
      <endpoint address="http://mctapinew.cnmsonnet.com/IntegrationService.asmx"
        binding="basicHttpBinding" bindingConfiguration="integrationserviceSoap"
        contract="PayuService.integrationserviceSoap" name="integrationserviceSoap" />
    </client>
    <bindings>
      <basicHttpBinding>
        <!--<binding name="integrationserviceSoap5" />-->
        <binding name="integrationserviceSoap" />
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>
</configuration>